<!DOCTYPE html>
<html>
  <head>
    <title>Stop Sign Detection</title>
    <%= partial "/layouts/partials/header" %>
  </head>
  <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </body>
</html>
